#!/usr/bin/env python3
import logging

#---- PLEASE EDIT THE FOLLOWING LINES

# the name of the key in ~/.ssh/ e.g. "id_rsa"
AWSSOCKS_KEY = "my-whatever_rsa-key"

# the aws region, e.g for UK
AWSSOCKS_REGION = "eu-west-2"

# the ec2 instance size - nano should be sufficient
AWSSOCKS_EC2_INSTANCE_SIZE = "t2.nano"

# the name of public key - the key will be managed by the scripts, so do not use an existing one
AWSSOCKS_KEY_NAME = "proxy_public_key"

# the name of security group  - the security group will be managed by the scripts, so do not use an existing one
AWSSOCKS_SECURITY_GROUP_NAME = "proxy_security_group"


#---- KEEP THE CONTENT BELOW UNCHANGED




def log_configuration():
    logger = logging.getLogger(__name__)
    logging.basicConfig(level=logging.INFO, format='%(levelname)s: %(message)s')

    logger.info("""
    
                    AWSSOCKS_KEY = {}
                 AWSSOCKS_REGION = {}
      AWSSOCKS_EC2_INSTANCE_SIZE = {}
               AWSSOCKS_KEY_NAME = {}
    AWSSOCKS_SECURITY_GROUP_NAME = {}
    
    """.format(AWSSOCKS_KEY, AWSSOCKS_REGION, AWSSOCKS_EC2_INSTANCE_SIZE, AWSSOCKS_KEY_NAME,
               AWSSOCKS_SECURITY_GROUP_NAME))


if __name__ == '__main__':
    log_configuration()
