#!/bin/bash

export AWSSOCKS_KEY=<name-of-public-key-in-ssh-dir>
export AWSSOCKS_REGION=eu-west-2
export AWSSOCKS_EC2_INSTANCE_SIZE=t2.nano
export AWSSOCKS_KEY_NAME=proxy_public_key 
export AWSSOCKS_SECURITY_GROUP_NAME=proxy_security_group 


